.App {
  display: flex;
  flex-direction: column;
  
  

}
.sorted_numbers{
  display: flex;
  background-color: white;
  flex-direction: row;
  align-items: flex-end;
  width: 100vw;
  height: 70vh;
  position: relative;
  padding: 10px;
  background-color: rgb(217, 217, 228);
  
}


.number_bar{
    background-color: black;
    margin-left: 1px;
    display: inline-block;
    max-width: .9vw;
    font-size: .5vw;

}
